:root {
  --primary: #ff0000;
  --bg: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: aliceblue;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 7%;
  background-color: rgb(255, 240, 240);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.5s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary--);
}

#menu {
  display: none;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hearder-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

hero::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3) 3%, rgba(5, 0, 0, 0) 25%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5) s;
  line-height: 1.2;
}

.hero .content h1 span {
  color: rgb(255, 0, 0);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  color: #ff0000;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: rgb(255, 0, 0);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* abouth section */
.about,
.product,
.contact {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.product h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.product h2 span,
.contact h2 span {
  color: #ff0000;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* product section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.product p,
.contact p {
  text-align: center;
  max-width: 30rem;
  font-size: 1.8rem;
  margin: auto;
  font-weight: 600;
  line-height: 1;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.product .row .product-card {
  text-align: center;
  font-size: 1rem;
}

.product .row .product-card img {
  border-radius: 10%;
  width: 80%;
}

.product .row .product-card .product-card-price {
  margin: 1,5rem auto 1,5rem;
}

.product .row .product-cart-tittle {
  font-size: 1,5rem;
}

/* contact section */
.contact .row {
  display: flex;
  margin-bottom: 1rem;
  background-color: #222;
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 1 1 100rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 100rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #313030;
  border: 5px solid #eee;
  padding-left: 2rem;
}

.contact .row .input-grup input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #ffffff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.7rem;
  color: #eee;
  background-color: #313030;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #c40202;
  text-align: center;
  padding: 1rem 1rem;
  margin-top: 1rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #eee;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: #00000000;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
}

footer .cradit {
  font-size: 0.7rem;
  font-weight: 100;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: hsl(0, 100%, 99%);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #ffffff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .product p {
    font-size: 1.6rem;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
